@import '../general/checkbox/checkbox.scss';
@import '../general/dropdown/dropdown.scss';
@import '../general/input/input.scss';
@import '../general/multiSelection/multiSelection.scss';
@import '../general/table/table.scss';
@import '../general/textarea/textarea.scss';

.form-container {
  background: white;
  border-radius: 15px;
  width: 70%;
  padding: 20px 15px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  font-family: 'Roboto', sans-serif;
  left: 50%;
  top: 50%;
  text-align: left;
  font-size: 14px;

  .form-title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  .form-field-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 10px 0;
  }

  .button-container-separator {
    border-top: 2px solid black;
    width: 70%;
    margin: 20px auto 0 auto;
    opacity: .2;

  }

  .button-container {
    margin: 30px auto;
    text-align: center;

    .form-button {
      width: 150px;
      display: inline-block;
      margin: 10px 10px 0 10px;
    }
  }
}

.field {
  text-align: left;
  padding: 5px;
  position: relative;

  .form-text-input {
    border-radius: 10px;
  }

  &.col-one {
    //default is one column?
  }

  &.col-two {
    display: inline-block;
    width: 100%/2 - 3%;
    padding-left: 15px;
  }

  &.col-three {
    display: inline-block;
    width: 100%/3 - 3%;
    padding-left: 15px;
  }
}

.form-section {
  text-align: left;

  .form-section-title {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 8px 0;
    padding-top: 8px;
  }

  .title-separator {
    padding: 4px 0;
    border-top: 1px solid black;
    width: 70%;
    margin: auto;
    opacity: .2;
  }
}

//TODO setup media-queries in order to make the forms look fine based on size
//never go above requested column param, but scale columns down as page gets smaller.